
.navbar {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px  24px;
  display: flex;
  flex-direction: column; 
  width: 1200px;       
  max-width: 1200px;
  margin: 0 auto;  
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 8px;
}

.navbar-logo {
  background: none;
  font-size: 20px;
  font-weight: bold;
  color:  #764ba2 ;
}
.navbar-logo a {
  color: #764ba2;
  text-decoration: none;
}



.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #764ba2;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-btn {
  color: #764ba2;
  text-decoration: none; 
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.register-btn {
  color: #764ba2;
  text-decoration: none; 
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.user-btn {
  background: none;
  border: none;
  font-size: 20px; 
  padding: 0;   
  color: #764ba2; 
  cursor: pointer;
}
.cart-btn {
  background: none;   
  border: none;       
  padding: 0;        
  cursor: pointer;   
  color:#764ba2;     
  font-size: 20px;    
  display: flex;     
  align-items: center;
}

.favorite-btn {
  background: none;   
  border: none;      
  padding: 0;         
  cursor: pointer;    
  color:#764ba2;      
  font-size: 20px;   
  display: flex;      
  align-items: center;
}


.navbar-links {
  display: flex;
  justify-content: center; 
  gap: 24px;
}

.navbar-links a {
  color: black;
  font-weight: bold;
  text-decoration: none; 
  font-size: 16px;
}

.navbar-links a:hover {
  color: #444;
}
